name: Build

on:
  push:
    branches: 
      - main
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    name: Build-JDK${{ matrix.jdk }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [ 11, 17, 21 ]
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v3
      with:
        java-version: "${{ matrix.jdk }}"
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  quality:
    needs: [build]
    name: Quality-JDK${{ matrix.jdk }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [ 11, 17, 21 ]
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v3
      with:
        java-version: "${{ matrix.jdk }}"
        distribution: 'adopt'
        cache: maven
    - name: coverage
      run: mvn -B verify --file pom.xml -Pcoverage
    - name: upload report
      uses: 'actions/upload-artifact@v4'
      with:
        name: "jacoco-${{ matrix.jdk }}"
        path: coverage/target/site/jacoco-aggregate
